.Details {
	height: auto;
	display: grid;
	font-family: 'Roboto';
	grid-template-columns: 40% 60%;
	row-gap: 2vh;

	.close-btn {
		grid-column: span 2;
		height: 75px;
		width: 75px;
		border-radius: 50px;
		border: none;
		background-color: transparent;
		justify-self: center;
		margin-top: 10vh;

		ion-icon {
			color: #277b7e;
			font-size: 70pt;
		}
	}

	.title {
		grid-column: span 2;
		font-size: 55pt;
		font-family: 'Baloo Bhai 2';
		color: #d1ac00;
		text-align: center;
		width: 90%;
		justify-self: center;
		line-height: 70pt;
	}

	.awards {
		grid-column: span 2;
		font-size: 27pt;
		width: 55%;
		justify-self: center;
		text-align: center;
		font-style: italic;
		color: #277b7e;
	}

	.poster {
		grid-column: span 2;
		justify-self: center;
		border: 3px dashed #d1ac00;
		border-radius: 50px;
		padding: 25px;
		img {
			height: 890px;
			max-width: 600px;
			object-fit: cover;
			border-radius: 35px 35px 0 0;
		}

		.scoring {
			background-color: #194f51;
			height: 100px;
			width: 100%;
			display: grid;
			grid-template-columns: 5% 30% 25% 30% 5%;
			column-gap: calc(5% / 2);
			border-radius: 0 0 35px 35px;

			.col-1 {
				grid-column: 2;
			}
			.col-2 {
				grid-column: 3;
			}
			.col-3 {
				grid-column: 4;
			}

			div {
				align-self: center;
				justify-self: center;
				display: grid;
				grid-template-columns: 45% 45%;
				column-gap: 5%;
				width: 100%;

				span,
				img {
					align-self: center;
					justify-self: center;
				}
				img {
					height: 65px;
					width: auto;
				}
				span {
					font-family: 'Roboto';
					color: #d1ac00;
					font-size: 20pt;
				}
			}
		}
	}

	.rated {
		grid-column: span 2;
		font-size: 23pt;
		color: #d1ac00;
		justify-self: right;
		margin-right: 200px;
	}

	.plot {
		grid-column: span 2;
		background-color: #194f51;
		color: #f5f5f5;
		width: 60%;
		justify-self: center;
		border-radius: 50px;
		padding: 35px;

		p {
			font-size: 25pt;
			text-align: left;
			line-height: 45pt;
			-webkit-line-clamp: 5;
			display: -webkit-box;
			overflow: hidden;
			-webkit-box-orient: vertical;
		}
	}

	.table-title {
		grid-column: 1;
		background-color: #d1ac00;
		color: #194f51;
		width: 50%;
		justify-self: right;
		height: 150px;
		border-radius: 50px 0 0 50px;
		display: grid;
		font-size: 25pt;
		padding: 15px;

		p {
			justify-self: end;
			align-self: center;
		}
	}

	.table-content {
		grid-column: 2;
		background-color: #194f51;
		font-size: 24pt;
		line-height: 35pt;
		color: #f5f5f5;
		width: 72.5%;
		justify-self: left;
		text-align: center;
		border-radius: 0 50px 50px 0;
		display: flex;
		justify-content: center;
		align-items: center;

		p {
			-webkit-line-clamp: 3;
			display: -webkit-box;
			overflow: hidden;
			-webkit-box-orient: vertical;
		}
	}

	.providers-table {
		grid-column: span 2;
		justify-self: center;
		align-self: center;
		width: 65%;

		.type-selector {
			color: white;
			font-size: 30pt;
			display: grid;
			grid-template-columns: 32% 32% 32%;
			column-gap: 2%;
			height: 75px;

			.provider-buy,
			.provider-rent,
			.provider-stream {
				text-align: center;
				font-family: 'Roboto';
				font-size: 25pt;
				color: #194f51;
				background-color: #d1ac00;
				border-radius: 50px 50px 0 0;
				border: none;
				outline: none;

				&:focus,
				&:active,
				&.selected {
					background-color: #816a00;
					color: #f5f5f5;
				}
			}
		}

		.providers-list {
			min-height: 450px;
			justify-content: center;
			background-color: #194f51;
			border-radius: 0 0 50px 50px;
			margin-bottom: 2vh;
			display: grid;
			grid-template-columns: repeat(3, calc(85% / 3));
			column-gap: 3.5%;

			.individual-offer {
				height: 200px;
				display: grid;
				grid-template-rows: 10% 60% 10%;
				row-gap: 5%;
				align-self: center;
				margin: 10% 0;
				background-image: linear-gradient(to bottom, #194f51, #011111);
				border-radius: 25px;

				.individual-img,
				.individual-price {
					justify-self: center;
					align-self: center;
				}

				.individual-quality,
				.individual-price {
					font-family: 'Roboto';
					font-size: 20pt;
					font-weight: bold;
				}

				.individual-quality {
					text-transform: uppercase;
					color: #d1ac00;
					position: relative;
					left: 130px;
					top: 10px;
				}

				.individual-price {
					color: #f5f5f5;
					text-align: center;
				}

				.individual-img {
					height: 90px;
					border-radius: 20px;
				}
			}
		}

		.no-list {
			font-size: 30pt;
			color: #f5f5f5;
			font-family: 'Roboto';
			text-align: center;
			margin-bottom: 5vh;
		}
	}
}
