.NavBar,
.NavBar-Homepage {
	position: fixed;
	height: 7vh;
	width: 100vw;
	font-size: 20pt;
	z-index: 4;
	background-color: #011111;

	.navbar-display {
		height: 100%;
		display: grid;
		grid-template-columns: 87.5% 12.5%;
	}

	ion-icon {
		font-size: 85px;
		position: absolute;
		top: 30px;
		right: 30px;
		color: #d1ac00;
	}

	.menu-options,
	.menu-btn {
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
	}

	.menu-options {
		.menu-item {
			font-size: 32pt;
			color: white;
			text-decoration: none;
			font-family: 'Baloo Bhai 2';
			color: #d1ac00;
		}

		.menu-item-m,
		.menu-item-t,
		.menu-item-s {
			opacity: 0;
		}

		.menu-item-l {
			margin-top: 12.5px;
			img {
				position: relative;
				top: 0;
				height: 65px;
				width: 200px;
			}
		}
	}

	.svg {
		height: 85px;
	}
}

.NavBar-Homepage {
	background-color: transparent;
}
