.NavBar,
.NavBar-Homepage {
	position: fixed;
	height: 7vh;
	width: 100vw;
	font-size: 20pt;
	z-index: 4;
	background-color: #011111;

	.navbar-display {
		height: 100%;
		display: grid;
		grid-template-columns: 85% 15%;
	}

	.menu-options {
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: 30% repeat(3, calc(70% / 3));
	}

	.menu-options {
		.menu-item {
			font-size: 32pt;
			text-decoration: none;
			font-family: 'Baloo Bhai 2';
			color: #d1ac00;
		}

		.menu-btn {
			display: grid;
		}

		.menu-item-m,
		.menu-item-t,
		.menu-item-s {
			align-self: center;
			text-align: center;
			opacity: 0;
		}

		.menu-item-l {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;
			img {
				position: relative;
				top: 0;
				height: 65px;
				width: 200px;
			}
		}
	}

	.svg {
		justify-self: center;
		height: 85px;
		margin-top: 20%;
		margin-left: 10px;
	}
}

.NavBar-Homepage {
	background-color: transparent;
}

// Desktop View:

@media (min-width: 1281px) {
	.NavBar,
	.NavBar-Homepage {
		position: fixed;
		height: 10vh;
		width: 100vw;
		font-size: 20pt;
		z-index: 4;
		background-color: #011111;

		.navbar-display {
			height: 100%;
			display: grid;
			grid-template-columns: 85% 15%;
		}

		.menu-options {
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-columns: 20% 60% repeat(3, calc(20% / 3));
		}

		.menu-options {
			.menu-item {
				font-size: 15pt;
				text-decoration: none;
				font-family: 'Baloo Bhai 2';
				color: #d1ac00;
			}

			.menu-btn {
				display: grid;
			}

			.menu-item-m {
				grid-column: 3;
			}

			.menu-item-t {
				grid-column: 4;
			}

			.menu-item-s {
				grid-column: 5;
			}

			.menu-item-m,
			.menu-item-t,
			.menu-item-s {
				align-self: center;
				text-align: center;
				opacity: 0;
			}

			.menu-item-l {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-bottom: 0px;
				img {
					position: relative;
					top: 0;
					height: 45px;
					width: 130px;
				}
			}
		}

		.svg {
			justify-self: center;
			height: 5vh;
			margin-top: 2.5vh;
			margin-left: 0px;
		}
	}

	.NavBar-Homepage {
		background-color: transparent;
	}
}
